---
title: Team
---
<div class="container text-center">
<h2>Our Team</h2>
  <ul class="list-inline">
    <li><%=image_tag "seb.jpg" , class: "avatar-large" %><p>Seb</p></li>
    <li><%=image_tag "anne.jpg" , class: "avatar-large" %><p>Anne</p></li>
    <li><%=image_tag "romain.jpeg" , class: "avatar-large" %><p>Romain</p></li>
  </ul>
</div>
